<html>
<head>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Resources -->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
</head>

<br/>
<br/>
<body class=" ">

<div class="container grey lighten-4 z-depth-3" style="margin-top:0;">
    <nav>
        <div class="nav-wrapper" style="background-color:#e74c3c">
            <a href="#" class="brand-logo" style="margin-left:10px;">CertQualityTester</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li style="margin-right:10px;">Data from <b>{{ all }}</b> hosts</li>
            </ul>
        </div>
    </nav>
    <div class="row">
        {#        <div class="col s12 m12 expdiv">{% include 'exp.html.jinja2' %}</div>#}
{#        <div class="col s12 m12 ">{% include 'self.html.jinja2' %}</div>#}
        <div class="col s12 m12 ">{% include 'depth.html.jinja2' %}</div>
    </div>

    <footer class="page-footer" style="background-color:#e74c3c">
        <div class="footer-copyright">
            <div class="container">
                © 2020 Bartosz Sledz # Konrad Zawora # Boguslaw Lobacz
                <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>